@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #daf1fe
}
.topheadig{
  width: 75%;
}
.inputfields {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 75%; 
  border: 1px solid currentColor; 
  background-color: #ffffff;
  border-color: #d2d6dc; 
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1); 
  border-radius: 0.5rem; 
  padding: 1rem; 

}